doctype html
html
	head
		title
		include head
	body
		header
			nav.navbar.navbar-inverse.navbar-fixed-top
				div.container-fluid
					div.navbar-header
						button(type="button" class="navbar-toggle collapsed movil" data-toggle="collapse" data-target="#navbar-1")
							span.sr-only Menú
							span.icon-bar
							span.icon-bar
							span.icon-bar
					div.collapse.navbar-collapse#navbar-1
						ul.nav.navbar-nav
							li
								a(href="/" title="Inicio") Inicio
							li
								a(href="/contactos" class="active" title="Ver Contactos") Ver Contactos
							li
								a(href="/add" title="Agregar Contactos") Agregar Contactos
							li
								a(href="/update" title="Actualizar") Actualizar Contactos
							li
								a(href="/delete" title="Eliminar") Eliminar Contactos
		div.container.animated.zoomIn
			main
				div.formCont
					h2 Sus Contactos
					div.row.table-responsive
						table.col-xs-12.table.table-hover.table-bordered
							thead
								tr
									th ID
									th Nombre
									th Apellidos
									th Teléfono
									th email
							tbody
								for user in users
									tr
										td= user.ID
										td= user.nombre
										td= user.apellidos
										td= user.telefono
										td= user.email
